/* Global Style */
* {
  font-family:'Lato', sans-serif;;
  padding: 0;
  margin: 0;
}
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* For Header Part */
.banner-container {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}

/* Text part */
.banner-article {
  text-align: left;
  margin-top: 80px;
}
.banner-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 620px;
  margin-bottom: 32px;
}
.banner-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 600px;
  margin-bottom: 32px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
}

/* Featured Section part  */

#featured-section{
  text-align: center;
}
#featured-section h2{
  margin: 0;
}
#featured-section p{
  margin: 30px auto 48px;
  max-width: 600px;
}
.featured-flower-banner{
  display: flex;
  justify-content: space-between;
  gap: 25px;

}
/* Flower Featured Part */
.header-featured {
  text-align: center;
  margin-top: 100px;
  background: #fff;
}
#featured-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
#featured-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
